* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    background-image: url(../imagenes/plantita2.jpg);
}

#imagenperfil {
    border-radius: 200px;
    flex: start;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

#plantitas {
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}